@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Manrope:wght@200..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
}
h1, span, div, ul, li, button {
  font-family: 'Inter';
  outline: none;
}
button:active {
  scale: 0.9;
}
ul {
  list-style-type: none;
}

header {
  min-width: 100%;
  height: auto;
  justify-content: center;
  display: flex;
  overflow: hidden;
}
div#_nuxt {
  min-width: 100%;
}
div#app {
  width: 100%;
}

nav {
  width: 100%;
  left: 0;
  display: flex;
  height: 50px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  background: rgba(255, 255, 255, 0.2); 
  padding-top: 10px;
  padding-bottom: 10px; 
  
  border: 1px solid rgba(255, 255, 255, 0.3); 

}
.properties {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 6;
  justify-content: center;
}
.viroblock {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 6;
  justify-content: center;
}

@media (max-width: 600px) {
  .properties {
    height: 1500px;
  }
  .viroblock {
    height: 800px;
  }
}


@media (min-width: 600px) and (max-width: 850px) {
  .properties {
    height: 1400px;
  }
}


@media (min-width: 850px) and (max-width: 900px) {
  .properties {
    height: 1100px;
  }
}


@media (min-width: 900px) and (max-width: 1100px) {
  .properties {
    height: 1100px;
  }
}

@media (min-width: 830px) {
  .properties {
    height: 1100px;
  }
}
@media (min-width: 1100px) and (max-width: 1260px) {
  .properties {
    height: 1100px;
  }
}


@media (min-width: 1260px) {
  .properties {
    height: 800px;
  }
}





